<div class="traffic-light-housing"
    *ngIf="stateData$ | async as stateData">
    <ul>
        <li>
            <span class="red"
                [ngClass]="{'on':['stop', 'stop_startWalking', 'stop_finishWalking' ].includes(stateData.state) }"></span>
        </li>
        <li>
            <span class="amber"
                [ngClass]="{'on':stateData.state === 'prepareToStop'}"></span>
        </li>
        <li>
            <span class="green"
                [ngClass]="{'on':stateData.state === 'go'}"></span>
        </li>
    </ul>
</div>